<!DOCTYPE html>
<html>
   
<head>
     <title>404</title>
   <link rel="stylesheet" href="./css/index.css">
   <link rel="icon" href="./css/weather.png">

</head>
<body>
    <div class="main"> {{>header}}</div>
    {{>foot}}
   
</body>
</html>