<!DOCTYPE html>
<html>
   
<head>
     <title>About</title>
 <link rel="stylesheet" href="./css/index.css">
  <link rel="icon" href="./css/weather.png">

</head>
<body>
    <div class="main">
        {{>header}}

<img class="img" src="./css/WhatsApp Image 2023-12-22 at 18.06.20_26b22711.jpg"></div>

{{>foot}}
</body>
</html>